.cloumnHeader{
  background-color: rgb(14, 106, 26);
  color: white;
}
.light-row {
  text-align: center;
  background-color: rgb(203, 212, 204);
}
.dark-row {
  text-align: center;
  background: white;
}

.ant-table-thead > tr > th {
  background-color: rgb(14, 106, 26);
  color: white;
  text-align: center;
}